body {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  width: 100%;
}
/* Loader Start */
.loader {
  background: #333;
  filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 999;
}
/* Loader End */

.logo {
  width: 75px;
  margin-inline: 50px;
}

.header-bar .row {
  flex-direction: row;
  align-items: center;
}

.nav {
  align-items: center;
  justify-content: center;
}

.header-bar {
  background-color: #333;
  margin-bottom: 30px;
  padding: 15px 0;
}

.nav-link {
  color: #FFF !important;
}

.nav-item a:hover {
  background-color: #FFF !important;
  color: #333 !important;
}

.api {
  padding: 10px;
  border-bottom: solid 1px #333;
}

.api {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
}

.api span {
  margin-right: 15px;
}

api p {
  margin: 0 !important;
  max-width: 500px;
  text-align: center;
}

.api:nth-child(odd) {
  background: #d2d2d2;
}

.api:nth-child(even) {
  background: #FFF;
}



html,
body {
  margin: 0px;
  padding: 0px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}




#hero1 {
  background: url(https://4.bp.blogspot.com/_AQ0vcRxFu0A/S9shDGGyMTI/AAAAAAAAAYk/kn3WTkY2LoQ/s1600/IMG_0714.JPG);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#hero2 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/21555/Melissani-cave-natural.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.hero,
.content {
  text-align: center;
  position: relative;
  width: 100%;
}

.inner {
  min-height: 450px;
  position: relative;
}

.hero .inner {
  background: rgba(0, 0, 0, 0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
}


.copy {
  position: absolute;
  top: 50%;
  height: 10em;
  margin-top: -5em;
  width: 100%;
}

.hero h1,
.hero p {
  color: #fff;
}

.content h1,
.content p {
  color: #333;
}

h1 {
  margin: 0px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 32px;
  padding: 0px 20px;
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  padding: 0px 20px;
}



/* Amazon Api CSS Start */
.amazon {
  padding: 50px 0;
}

.amazon .row {
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}

.row .amazon_products {
  height: auto;
  border: solid 1px #564f4f7a;
  border-radius: 5px;
}

.amazon .row .amazon_products img {
  transition: 0.5s;
  max-width: 500px;
  height: 200px;
  object-fit: fill;

}

.amazon_products img:hover {
  transition: 1s;
}



.row .products:hover .img_item {
  transform: scale(0.8);
}

.products:hover {
  cursor: pointer;
}


.products p {
  font-size: 28px;
}

.product_info {
  padding: 10px;
}

.product_info h4 {
  word-wrap: nowrap;
  width: 100%;

}

.amazon .amazon_products .discount_price {
  background-color: #cc0c39;
  color: #FFF;
  font-size: 16px;
  border-radius: 2px;
  padding: 6px 6px;
  white-space: nowrap;
  font-weight: 700;
  display: inline-block;
}

.amazon_products span {
  margin: 0 10px;
  color: #cc0c39;
  font-weight: 700;
}

.amazon_products .whole_price {
  font-size: 28px;
  font-weight: 600;
  color: #000;
}

.amazon_products .whole_price sup {
  top: -1em;
  font-size: 12px;
}

.amazon_products .mrp_price {
  color: #565959 !important;
  font-weight: 500;
}



/* Footer Start */

.footer {
  background-color: #333;
}

.footer a {
  text-decoration: none;
}

/* Footer End */


