body{
  margin: 0;
  padding: 0;
}
img{
  height: auto;
  width: auto;
}


.api{
    padding: 10px;
    border-bottom: solid 1px #333;
}
.api{
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
}
.api span{
  margin-right: 15px;
}
p{
  margin: 0 !important;
  max-width: 500px;
  text-align: center;
}